.metadata
.DS_Store
*~
.recommenders
bin/
target/
*.class

# gwt caches and compiled units #
MovieApp/war/gwt_bree/
MovieApp/gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
MovieApp/war/WEB-INF/deploy/movieapp/
MovieApp/war/WEB-INF/classes/
MovieApp/war/movieapp/

#compilation logs
.gwt/

#caching for already compiled files
MovieApp/gwt-unitCache/*

#gwt junit compilation files
MovieApp/www-test/*


#Added by Rafael
*.cache.js
*.gwt.rpc
*.symbolMap
.idea/


*.iml
