<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <!--
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>we.are.bubblesort.MovieApp.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/movieapp/greet</url-pattern>
  </servlet-mapping>
  -->
  
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>MovieApp.html</welcome-file>
  </welcome-file-list>


	<!-- Query Service -->
  <servlet>
    <servlet-name>QueryServiceImpl</servlet-name>
    <servlet-class>we.are.bubblesort.MovieApp.server.QueryServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>QueryServiceImpl</servlet-name>
    <url-pattern>/movieapp/query</url-pattern>
  </servlet-mapping>
  
  <!-- Export Http Service -->
  	<servlet>  
 		<servlet-name>ExportService</servlet-name>  
 		<servlet-class>we.are.bubblesort.MovieApp.server.ExportService</servlet-class>  
  	</servlet>  
	<servlet-mapping>  
 		<servlet-name>ExportService</servlet-name>  
 		<url-pattern>/export</url-pattern>  
	</servlet-mapping>  
</web-app>
